html {
    --primary-color: #af7fe4;
    --primary-dark-color: #7929d2;
    --primary-light-color: #cb99f6;
    --primary-lighter-color: #dfc8fa;
    --primary-lightest-color: #efe4fc;

    --side-nav-background: #333f67;
    --side-nav-foreground: #c3e3ff;

    --searchbar-background: var(--page-background-color);
    --searchbar-foreground: var(--page-foreground-color);

    --link-color: #2980b9;
    --param-color: #b71c1c;

    --side-nav-fixed-width: 300px;
    --top-height: 220px;
}

html.dark-mode {
    color-scheme: dark;

    --primary-color: #af7fe4;
    --primary-dark-color: #cb99f6;
    --primary-light-color: #7929d2;
    --primary-lighter-color: #191e21;
    --primary-lightest-color: #191a1c;

    --side-nav-background: #252628;
    --side-nav-foreground: var(--page-foreground-color);

    --param-color: #ef9a9a;
}
